.home-component {
    margin-top: -10vh;
    border-radius: 40px;
    background-color: white;
    height: 100%;
    padding: 5vw;
}
.title {
    text-align: left;
    font-size: 3.5vh;
    font-weight: bolder;
    font-family: Arial, Helvetica, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 20vw;
}
.introduction {
    text-align: left;
    font-size: 2.5vh;
    font-weight: normal;
    font-family: Arial, Helvetica, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 80vw;
    height: 20vh;
}
