.header-background {
    background-image: url("../logo.png"), url("../home/pills.png"), url("../home/medischool_header.png"), url("../home/background.jpg");
    background-size: 28vh, 70vh, 70vh, 100vh;
    background-position: 6vw 19vh, 3vw 2vh, -6vw -2vh, 0;
    background-repeat: no-repeat;
    width: 100vw;
    height: 40vh;
}