.header-background {
  background-image: url("../logo.png"), url("../home/pills.png"),
    url("../home/medischool_header.png"), url("../home/background.jpg");
  background-size: 28vh, auto 30vh, 60vh, 100vw 100vh;
  background-position: 6vw 13vh, 3vw 2vh, -6vw -2vh, 0;
  background-repeat: no-repeat;
  width: 100vw;
  height: 40vh;
}

.pageHeader {
  background-image: url("../logo.png"), url("../home/pills.png"),
    url("../home/background.jpg");
  background-size: 28vh, auto 30vh, 100vw 100vh;
  background-repeat: no-repeat;
  background-position: 90% 30%, 100%, 70% 5%;
  width: auto;
  height: 30vh;
  position: relative;
}

.backBtn {
  margin-right: 93%;
  top: 15%;
}

.fa-caret-left {
  color: white;
  width: 15px !important;
  height: auto;
}

.close{
  font-weight: 900;
  color: black;
  position: relative;
}
