.theme-ttl {
  background-color: #ef7764;
  color: white;
  border-radius: 3vh;
  margin: 2vh;
  width: 309px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.th-title {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: bolder;
}

.th-image {
  margin-left: 10px;
  font-size: 20px;
}
