.themes {
    display: flex;
    flex-direction: row;
   
  }


.theme-btn {
    background-color: #ff9c8d;
    border-radius: 3vh;
    margin: 2vh;
    width: 88px;
    height: 133px;
   
  }
  .theme-title {
    text-align: center;
    vertical-align: center;
    font-size: 12px;
    font-style: normal;
   
  }