.topicBtn {
    border-radius: 50px;
    background-color: #fafafa;
    border: 1px #fafafa solid;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
    color: #707070;
    margin-bottom: 0;
    padding-left: 25px;
    width: 90%;
    font-family: 'FuturaLT', sans-serif;
    font-weight: 800;
    font-size: 14px;
}
